{% extends 'base.html' %}
{% block style%}
{% endblock %}
{% block content %}
<main>
        <form method = "post">
                <input name = "title" type = "text" value="{{ article.title }}">
                <textarea name = "content" id = "editor">
                        {{ article.content }}
                </textarea>
                <input class="btn" type="submit" name="submit" value="Submit">
        </form>       
</main>
{% endblock %}
{% block script %}
    <script src = "https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
    <script src = "{{ url_for("static", filename = "script/edit.js") }}"></script>
{% endblock %}